<div class="contenedor">
  <h2 class="subtitulo-principal">
    <span></span> Detalles
  </h2>

  <form nz-form [formGroup]="form" (ngSubmit)="consultar()" nzLayout="vertical">

    <nz-form-item>
      <nz-form-label [nzRequired]="true">Número de Placa</nz-form-label>
        
      <nz-form-control nzErrorTip="Ingrese un número de placa">
        <span nz-input-affix-wrapper nzSize="large">
          <span nz-prefix nz-icon nzType="car"></span>
          <input
            nz-input
            type="text"
            formControlName="placa"
            placeholder="ABC123"
            (input)="filtrarInput($event)"
            maxlength="7"
          />
        </span>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" nzSize="large" type="submit" [disabled]="isSpinning() || form.invalid" [nzLoading]="isSpinning()">
      <span nz-icon nzType="search"></span>
      {{ textoBoton() }}
    </button>
    
  </form>
  
  <div class="mensaje-resultado">
    @if (resultado()) {
      <div [class]="cssResultado()">
        <strong>{{ resultado() }}</strong>
      </div>
    }
  </div>

</div>
