/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ng-zorro-antd/ng-zorro-antd.min.css";

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif; 
  background-color: #F8FAFC;
}
